<div class="flex flex-col items-center justify-between w-screen h-screen text-stone-500 text-center">
  <header>
    <div class="flex items-center">
      <img [src]="ImagePath" class="w-24 h-24" />
      <h1 class="font-bold text-black text-2xl">Edina</h1>
    </div>
  </header>

  <section class="flex flex-col gap-3 w-3/12">
    <h2 class="font-bold text-black text-2xl">Welcome Back!</h2>
    <p class="">Log in to continue.</p>

    <form [formGroup]="applyForm" (submit)="submitApplication()" class="flex flex-col gap-5">
      <div class="flex flex-col gap-2 text-left">
        <label for="login">Email</label>
        <input id="login" type="text" formControlName="login" class="border p-2 rounded-md" />
      </div>
      <div class="flex flex-col gap-2 text-left">
        <label for="password">Password</label>
        <input id="password" type="text" formControlName="password" class="border p-2 rounded-md" />
      </div>
      <button type="submit" class="border border-black bg-black text-white p-2 rounded-md">Login</button>
    </form>

    <p class="cursor-pointer">Forgot your password?</p>
    <p class="cursor-pointer">Need help? <strong> Contact support</strong></p>
  </section>

  <footer>
    <div class="flex justify-start mb-10">
      <div class="flex gap-5">
        <p>About Edina</p>
        <p>Features</p>
        <p>Pricing</p>
        <p>Blog</p>
        <p>Contact Us</p>
      </div>
      <div>
      </div>
    </div>
  </footer>
</div>
